<!DOCTYPE html>

<html>
    <head>
        <title>
            Survey
        </title>
    </head>

    <body class="page">
        <div class="container">
            <h1 class="title">
                Genial <span class="username"><%= @username %></span>!
            </h1>

            <div class="points">
                <% if @results.length() == 0 %>
                    <p class="info">
                        No se registraron respuestas
                    </p>
                <% else %>
                    <p> Los puntajes segun la carrera fueron: </p>

                    <div class="box">
                            <ul>
                            <% @results.each do |result| %>
                                <li class="info">
                                    <%= result['name'] %> = <%= result['points'] %>
                                </li>
                            <% end %>
                            </ul>
                    </div>
                <% end %>
            </div>
        </div>

        <button onclick="reloadTest()">
            Volver a realizar otro test
        </button>
        <br>
        <p> Chequear estadistica de </p>
        
        <select name="selectCareers" id="selectCareers">
            <% @careers.each do |career| %>
                <option value="<%= career.id %>">
                    <%= career.name %>
                </option>
            <% end %>
        </select>

        <label for="start">Fecha inicio: </label>
        <input type="date" id="start" name="trip-start" value="2019-01-01" min="2019-01-01" max="2021-12-31">
        <label for="start">Fecha fin: </label>
        <input type="date" id="end" name="trip-start" value="2019-01-02" min="2019-01-01" max="2021-12-31">
        <input type="button" id="lanzador" value="Calcular" style="width:20%; " onclick="calculateStatistics()">
    </body>
</html>
<script>
    const calculateStatistics = async () => {
        const response = await fetch('get_result_careers', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                idCareer: document.getElementById("selectCareers").value,
                starDate: document.getElementById("start").value,
                endDate: document.getElementById("end").value
            })
        });
        console.log(response)
        const result = await response.json();


        alert(result.quantity);

    }
    function reloadTest(){
        window.location.href='/normal_test';
    }
</script>

<style>
    ul {
        list-style-type: none;
    }

    li {
        margin: 1rem 0;
    }

    .page {
        background-color: #bdc3c7;

        font-family: arial;

        color: #ecf0f1;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box {
        padding: 1rem;

        border-radius: 1rem;

        background-color: #2c3e50;

        border: 3px solid #ecf0f1;

        width: 50%;

        margin: 1rem auto;
    }

    .info {
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;

        background-color: #34495e;

        font-weight: lighter;
        font-size: 16px;
        color: #ecf0f1;
        text-align: start;
    }

    button {
        padding: 0.5rem;
        margin: auto;

        border-radius: 10px;

        background-color: #f39c12;

        border: 1px solid #e67e22;

        color: #2c3e50;

        cursor: pointer;

        font-weight: bold;

        width: 24rem;
        height: 3rem;
        cursor: pointer
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .title {
        width: 60%;
        margin: 1rem auto;
        padding: 1rem;

        color: #2c3e50;
        text-align: center;
        font-size: 2rem;
    }

    span {
        font-weight: bold;
    }
    .username{
        font-weight: bold;
    }

    .points {
        width: 60%;
        margin: auto;
        padding: 1rem;

        color: #2c3e50;
        text-align: center;
        font-size: 1rem;
    }
</style>